[flake8]
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,S,W
ignore = E203,E501,W503,D205,S608,D405
max-line-length = 119
max-complexity = 10
application-import-names = artworks,tests
import-order-style = google
docstring-convention = google
per-file-ignores = tests/*:E712